@use '@angular/material' as mat;
@include mat.core();
// Define the theme object.
$DaoAIBreakPointWeb-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$green-palette
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($DaoAIBreakPointWeb-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($DaoAIBreakPointWeb-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($DaoAIBreakPointWeb-theme);
/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button, a {
  cursor:pointer !important;
}
